<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Libra</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
         <a class="navbar-brand" href="#">LibraNews</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarsExample03">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
               <a class="nav-link" href="#">Grading Article<span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Forum</a>
             </li>
             <li class="nav-item">
               <a class="nav-link disabled" href="#">Disabled</a>
             </li>
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
               <div class="dropdown-menu" aria-labelledby="dropdown03">
                 <a class="dropdown-item" href="#">Action</a>
                 <a class="dropdown-item" href="#">Another action</a>
                 <a class="dropdown-item" href="#">Something else here</a>
               </div>
             </li>
           </ul>
           <form class="form-inline my-2 my-md-0">
             <input class="form-control" type="text" placeholder="Search">
           </form>
         </div>
       </nav>


    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-5">News comparison site for people with an open mind</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form action="/" method="post" >
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="text" name="news_title" class="form-control form-control-lg" placeholder="Enter your search...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <!--<section class="features-icons bg-light text-center">-->
      <div class="screenshot123" style="margin-left:2%;">
        <div style="float:left; margin-right:1%; margin-bottom:1em;">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select Sites Here
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" href="#">CNN</a></li>
              <li role="presentation"><a role="menuitem" href="#">FOX</a></li>
              <li role="presentation"><a role="menuitem" href="#">NBC</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" href="#">About Us</a></li>
            </ul>
          </div>
          <a href="http://cnn.com/" target="_blank" style="display: block; width:600px; height:600px; overflow:hidden;">
            <img src={{ image1}} style="width:100%; height:100%"/>
            </a>
            </div>
        <div style="float:left; margin-right:1%; margin-bottom:1em;">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select Sites Here
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" href="#">CNN</a></li>
              <li role="presentation"><a role="menuitem" href="#">FOX</a></li>
              <li role="presentation"><a role="menuitem" href="#">NBC</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" href="#">About Us</a></li>
            </ul>
          </div>
          <a href="http://foxnews.com/" target="_blank" style="display: block; width:600px; height:600px; overflow:hidden;">
            <img src={{ image2}} style="width:100%; height:100%"/>
            </a></div>
        <div style="float:left; margin-right:1%; margin-bottom:1em;">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select Sites Here
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" href="#">CNN</a></li>
              <li role="presentation"><a role="menuitem" href="#">FOX</a></li>
              <li role="presentation"><a role="menuitem" href="#">NBC</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" href="#">About Us</a></li>
            </ul>
          </div>
          <a href="http://nbcnews.com/" target="_blank" style="display: block; width:600px; height:600px; overflow:hidden;">
            <img src={{ image3}} style="width:100%; height:100%"/>
          </a></div>
    </div>



  <!-- <section class="features-icons bg-light text-center"> -->
    <div class="screenshot123" style="margin-left:2%;">
      <div style="float:left; margin-right:1%; margin-bottom:0.5em;">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select Sites Here
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" href="#">CNN</a></li>
            <li role="presentation"><a role="menuitem" href="#">FOX</a></li>
            <li role="presentation"><a role="menuitem" href="#">NBC</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" href="#">About Us</a></li>
          </ul>
        </div>
        <a href="http://cnn.com/" target="_blank" style="display: block; width:600px; height:600px; overflow:hidden;">
          <img src="static/screenshot/2018_04_05_10_22_25.568251CNN.png" style="width:100%; height:100%"/>
          </a>
          </div>
      <div style="float:left; margin-right:1%; margin-bottom:0.5em;">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select Sites Here
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" href="#">CNN</a></li>
            <li role="presentation"><a role="menuitem" href="#">FOX</a></li>
            <li role="presentation"><a role="menuitem" href="#">NBC</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" href="#">About Us</a></li>
          </ul>
        </div>
        <a href="http://foxnews.com/" target="_blank" style="display: block; width:600px; height:600px; overflow:hidden;">
          <img src="static/screenshot/2018_04_05_10_22_25.568251FOX.png" style="width:100%; height:100%"/>
          </a></div>
      <div style="float:left; margin-right:1%; margin-bottom:0.5em;">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select Sites Here
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" href="#">CNN</a></li>
            <li role="presentation"><a role="menuitem" href="#">FOX</a></li>
            <li role="presentation"><a role="menuitem" href="#">NBC</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" href="#">About Us</a></li>
          </ul>
        </div>
        <a href="http://nbcnews.com/" target="_blank" style="display: block; width:600px; height:600px; overflow:hidden;">
          <img src="static/screenshot/2018_04_05_10_22_25.568251NBC.png" style="width:100%; height:100%"/>
        </a></div>
  </div>
  <!-- </section> -->


    <!-- Icons Grid -->
    <!--<section class="features-icons bg-light text-center">
      <iframe src=""
              width="600" height="400"
              sandbox>
      </iframe>
      <iframe src=""
        width="600" height="400"
         sandbox>
       </iframe>
       <iframe src=""
        width="600" height="400"
         sandbox>
       </iframe>
     </section>-->

    <!-- Image Showcases -->>


    <!-- Call to Action -->

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
